<form #loginform="ngForm" novalidate (ngSubmit)="loginf()">

    <div class="form-group">
      <label class="small mb-1" for="inputEmailAddress">Email</label>
      <input type="email" #useremail required class="form-control py-4" name="useremail" placeholder="Enter username" >
       
    </div>
   <div *ngIf="notifys" class="alert alert-success">Dummy password send to your registered email Please login with that!!</div>
   <div *ngIf="notifyerror" class="alert alert-danger">This email is not registerd with us!! </div>
    <button type="submit" [disabled]="loginform.form.invalid" class="btn btn-primary">Login</button>
  </form>

  <div class="backtologin"><a routerLink="">Back to login</a></div>