<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" routerLink="/dashboard/home">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            
            <a class="nav-link collapsed" routerLink="/dashboard/addmedicine" >
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
              Add medicine
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <a class="nav-link collapsed" routerLink="/dashboard/managemedicine">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
              Manage medicine
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <a class="nav-link collapsed" routerLink="/dashboard/addinvoice" >
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
              Add invoice
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <a class="nav-link collapsed" routerLink="/dashboard/manageinvoice" >
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
              Manage invoice
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <a class="nav-link collapsed" routerLink="/dashboard/stockreview" >
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
              Stock review
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
           
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        {{uname}}
    </div>
</nav>




